/.venv
/data
/*.keras
/*.joblib
/*.h5
/*.npy
/*.pt
/*.onnx
/*/*.keras
/*/*.joblib
/*/*.h5
/*/*.npy
/*/*.pt
/*/*.onnx
/*/*/*.keras
/*/*/*.joblib
/*/*/*.h5
/*/*/*.npy
/*/*/*.pt
/*/*/*.onnx
/*/__pycache__
/.venv_new